<!-- Template inheritance -->
{% extends "layout.html" %}

<!-- The child overrides the content block -->

{% block content %}
<h1>Tech Blog</h1>

<h4>Writers</h4>

<ul>
    {% for post in posts %}
        <li>
            <!-- url_for('posts') means: “Find the URL/path of the route whose name is posts -->
            <a href= "{{ url_for('posts') }}"> {{ post.author }} </a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}

<!-- home.html = child template -->
<!-- The child overrides the content block -->
<!-- `content` is the name of a template block. -->