<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('assets', path='css/style.css') }}">
    <!-- Here 'assets' is the name="assets" of app.mount("/static", StaticFiles(directory="static"), name="assets") in main.py -->
    <!-- So 'assets' works for "/static". It will see directory="static" in  StaticFiles(directory="static") -->
    <!-- and here path='css/style.css'. So the url_for will generate href="/static/css/style.css"  URL dynamically istead of hardcoding -->

    <!-- Favicon -->
    <link rel="icon"
          href="{{ url_for('assets', path='images/logo.png') }}">
</head>

<body>

    <h1>Welcome to FastAPI</h1>

    <!-- Image -->
    <img src="{{ url_for('assets', path='images/logo.png') }}"
         width="200">

    <button onclick="showMessage()">
        Click Me
    </button>

    <!-- JavaScript -->
    <script src="{{ url_for('assets', path='js/script.js') }}"></script>

</body>
</html>


