<!-- Template inheritance -->
{% extends "layout.html" %} 

<!-- The child overrides the content block -->
{% block content %}
<h1>Tech Blog Posts</h1>
<ul>
  <!-- url_for('home') means: “Find the URL/path of the route whose name is home -->
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="#">News</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">About</a></li>
</ul>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <h5>{{ post.author }}</h5>
        <p>{{ post.content }}</p>
        <br>
    {% endfor %}
{% endblock content %}

<!-- home.html = child template -->
<!-- The child overrides the content block -->
<!-- `content` is the name of a template block. -->